<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="A progressively enhanced address book.">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/skeleton.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <script src="js/vendor/modernizr.min.js"></script>
</head>
<body>
    <header role="banner" class="container">
        <h1>{{title}}</h1>
        <nav role="navigation">
            <a href="/" role="button">Home</a></li>
        </nav>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </header>
