.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  height: auto;
  overflow: hidden;
}

h1 {
  display: inline-block;
}

nav {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 4em;
}
